.acceuil 
{
  background: url("../../../public/img/home.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.p_container
{
  background-color: rgba(0, 0, 0, 0.685);
}

.modal_div
{
  //z-index: 1;

  .modal_container
  {
    //min-width: 800px;

    .modal_picture
    {
      max-width: 100%;
      height: auto;
    }
  }
}


